@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    touch-action: none;

}

body {
    background-color: rgb(16,143,198);
}
body>h1 {
    position : absolute;
    top : 0px;
    left : 0px;
    color : white;
    font-size : 4rem;
    
    margin : 20px;
}
.map-cards {
    position : absolute;
    top : 15%;
    left: 10%;
    width : 80%;
    height : 80%;
    display: flex;
    justify-content : space-evenly;
    align-items: center;
}

.map-cards>li{
    background-color: rgba(255, 255, 255, 0.2);
    height :80%;
    width : 30%;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    display : flex;
    flex-direction: column;
    align-items: center;
}

.map-cards>li:hover {
    scale : 1.02;
}
.map-cards>li.empty {
    justify-content: center;
}

.map-cards>li.empty i {
    font-size : 8rem;
    color : white;
    background-color : rgba(255, 255, 255, 0.2);
    border-radius : 50%;
    transition: all 0.2s ease-in-out;
}

.map-cards>li.empty i:hover {
    scale : 1.1;
}


.map-cards>li.full {
    justify-content: space-evenly;
    background-color: rgba(93, 164, 214, 0.5);
}


.map-cards>li.full iframe{
    width : 80%;
    aspect-ratio: 1/1;
    border-radius: 20px;
}

.actions {
    width : 100%;
    height : 20%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.actions a {
    height : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions-l {
    width : 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.actions-l i {
    font-size : 2rem;
    padding : 20px;
    aspect-ratio: 1/1;
    color : white;
    background-color : rgb(40,40,40);
    border-radius : 50%;
    transition: all 0.2s ease-in-out;
    text-align: center;
}
.actions-l i:hover {
    transform : translateY(-5px);
    background-color : rgb(30,30,30);

}


.actions-r {
    width : 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.actions-r i {
    font-size : 2rem;
    padding : 20px;
    aspect-ratio: 1/1;
    color : white;
    background-color : rgb(255,0,0);
    border-radius : 50%;
    transition: all 0.2s ease-in-out;
    text-align: center;
}
.actions-r i:hover {
    transform : translateY(-5px);
    background-color : rgb(150,0,0);

}

.map-cards>li.full h1 {
    font-size: 40px;
    color : rgb(40,40,40);
}

.bg-img {
    position: absolute;
    top : -200px;
    left: -600px;
    width : 4000px;

}

.help-icon {
    position : absolute;
    bottom : 20px;
    left : 20px;
    font-size : 4rem;
    color : white;
    cursor : pointer;
}

.help-content {
    position : absolute;
    top : 100%;
    left : 50%;
    transform: translateX(-50%);
    background-color : rgba(0, 0, 0, 0.8);
    color : white;
    padding : 20px;
    width : 300px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.help-content.visible {
    top: 50%;
    transform: translateY(-50%),translateX(-50%);

}


.account-container {
    position : absolute;
    width : 100px;
    top : 20px;
    right : 20px;
    font-size : 20px;
    color : white;
    cursor : pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-container i {
    font-size : 5rem;
}

.account-container form{
    width: 100%;
}

.account-container p {
    background-color: rgba(255, 255, 255, 0.2);
    margin : 5px;
    padding : 5px;
    width : 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.account-container .button {
    color : white;
    background-color: rgb(40,40,40);
    padding : 5px;
    margin : 5%;
    width : 90%;
    border-radius: 10px;
    text-align: center;
}



.map-generator {
    position : absolute;
    top : 100%;
    left: 0px;

    height : 100%;
    width : 100%;

    background-color: rgb(40, 44, 43);;

    transition : all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-generator .inner-page {
    width: 90%;
    height : 90%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.map-generator.visible {
    top : 0px;
}

.validation {
    position: absolute;
    top : 50%;
    right : 0px;
    transform: translateY(-50%);
    font-size : 5rem;
    color : white;

    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;

    margin-right : 0.5%;

    z-index:300;
}


.validation>i {
    border-radius: 20px;
    margin-top : 100px;
    margin-bottom : 100px;
}
.validation>i:hover {
    background-color: rgba(255, 255,255,0.2);
}

