@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    touch-action: none;

}

.sidebar-icons {
    position : absolute;
    top : 0px;
    left : 0px;

    width : 80px;
    height : 100%;

    z-index: 310;
    background-color : rgb(40, 44, 43);
   
    


}

.sidebar-icons li {
    display:flex;
    justify-content: center;
    align-items: center;
    color : white ; 
    font-size : 4rem;
    padding-top : 10px;   
    padding-bottom : 10px;
    
}

.sidebar-icons li:hover {
    background-color: rgb(78, 85, 83);
}


.sidebar-content>ul>li {
    position : absolute;
    top : 0;
    left: 80px;
    height : 100%;
    width : 0px;
    background-color: rgb(40, 44, 43);
    transition : all 0.5s ease;
    z-index: 300;
    display : flex;
    flex-direction: column;  
    color : white;
}

.sidebar-content>ul>li.active {
    width : 300px;
    border-left : solid 1px rgb(155, 142, 142);
}

.sidebar-content>ul>li .title {
    font-size : 30px;
    font-weight: 800;
    padding : 20px 20px;
}

.sidebar-content>ul>li li {
    font-size : 20px;
    font-weight: 400;
    padding : 10px 10px;
    display:flex;
    justify-content: space-evenly;

}


body .canvas-container {
    position : absolute;
    top : 0;
    left :0;
    z-index: 50;
    

}

body .canvas-container .gridCanvas {
    position : absolute;
    top : 0;
    left :0;
    
}
body .canvas-container .infoCanvas {
    position : absolute;
    top : 0;
    left :0;
    
}

body .canvas-container .infoCanvas {
    position : absolute;
    top : 0;
    left :0;
    
}


body .infoBox.main-container {
    position :absolute;
    border-top-left-radius: 20px;
    color : white;
    font-size: 70%;
    opacity:1;
    z-index: 300;
    user-select: none;

    width: 30%;
    height : 100%;
    top: 0;
    right: 0;
     
    transition : opacity 0.7s ease, scale 0.5s ease, border-radius 1s ease;
}







body .infoBox.landType {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    font-size : 40px;
    color :  rgb(10, 23, 11);
    border: solid 5px white;
    border-top-left-radius: 20px;

    
    
}


body .infoBox.categories-container {
    position : relative;
    display : flex;
    flex-direction: column;
    align-items: left;
    height: 90%;
    width: 100%;
    padding : 0.4rem 0.8rem;

    font-size: 20px ;
    background-color : rgb(29, 29, 34);

    transition : all 0.5s ease-in-out;
    z-index: 310;
}

body .infoBox h2 {
    color : rgb(146, 148, 147);
    background-color: rgb(40,44,43);
    width : 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin : 5px 10px;
    padding : 0.4rem 0.8rem;
    font-size : 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition : all 0.6s ease;

}
body .infoBox h2:hover, body .infoBox h2.active:hover {
    /* color : rgb(33, 34, 33);
    background-color: rgb(93, 98, 96);
     */
    scale : 1.05;
}

body .infoBox h2.active{
    width : 80%;
    color :rgb(33, 34, 33);
    background-color: rgb(125, 131, 129);
    scale : 1.03;
    
}
/* body .infoBox h2:active, body .infoBox h2.active:active{
    
    scale : 1.05;
    
} */


.infoBox .peopleList {
    width : 90%;
    max-height: 0px;
    transition : max-height 0.5s ease-in-out;
    overflow: auto;
    
}

.infoBox .peopleList.visible {
    max-height: 300px;
    
    
}

.infoBox .peopleList::-webkit-scrollbar {
    width: 10px;  /* Set the width of the vertical scrollbar */
    display : none;
}

.infoBox .peopleList::-webkit-scrollbar-thumb {
    background-color: rgb(98, 102, 98);  /* Set the color of the scroll thumb */
    border-radius: 10px;  /* Set the border radius of the scroll thumb */
}

.infoBox .peopleList::-webkit-scrollbar-track {
    background-color: rgb(29, 29, 34);  /* Set the color of the scroll track */
}

body .infoBox .peopleList li{
    margin : 0.5rem 0.9rem;
    padding: 5px 10px;
    border-radius : 9px;
    color : rgb(240,240,240);
    background-color: rgb(40,44,43);
    transition : background-color .2s ease-in-out;
}

body .infoBox .peopleList li:hover{
    color : rgb(255,255,255);
    font-weight : bold;
    background-color: rgb(20, 21, 21);
    
}

.infoBox .category-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin : 20px;
    border-bottom: solid 3px;
    margin-bottom : 10px;

}


body .selectionBox {
    position : absolute;
    opacity : 0;
    border: solid 1px white;
    z-index: 250;
    transition: opacity 0.5s ease;
    border-radius: 5%;
}

body .tileCursor {
    position : absolute;
    width: 100px;
    height : 100px;
    background-color: rgba(255, 255,255,0.2);
    z-index: 240;
    transition: all 0.01s ease-in;
    border-radius: 5%;
    pointer-events: none;
}

