@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    touch-action: none;

}


body .canvas-container {
    position : absolute;
    top : 0;
    left :0;
    z-index: 50;
    

}


/* body .canvas-container .tileCanvas{
    position : absolute;
    top : 0;
    left :0;
    
} */

body .canvas-container .gridCanvas {
    position : absolute;
    top : 0;
    left :0; 
}

body .canvas-container .peopleCanvas{
    position : absolute;
    top : 0;
    left :0;
}



/* Selection of tile */

body .selectionBox {
    position : absolute;
    opacity : 0;
    border: solid 1px white;
    z-index: 250;
    transition: opacity 0.5s ease;
    border-radius: 5%;
}

body .tileCursor {
    position : absolute;
    width: 100px;
    height : 100px;
    background-color: rgba(255, 255,255,0.2);
    z-index: 240;
    transition: all 0.01s ease-in;
    border-radius: 5%;
    pointer-events: none;
}






