/* Right box */
.land-type-container {
    position :absolute;
    color : white;
    font-size: 70%;
    z-index: 300;
    user-select: none;

    width: 200px;
    height : 150px;
    bottom : 20px;
    right: 20px;
     
    transition : all 0.5s ease-in-out;

    .land-type {
        display : flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border: solid 3px white;
        height: 100%;
        width: 100%;
        font-size : 40px;
        color :  rgb(10, 23, 11);
        transition : all 0.5s ease-in-out;
        
    }
}

